body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(222, 235, 247);
    font-family: sans-serif;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    
 }

 p{
    margin: 0;
 }